.product {
  .containerProduct {
    padding: 10px;
    background-color: #d9d9d9;
    height: 100vh;
    .left {
      display: flex;
      justify-content: space-around;
      .smallImages {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img {
          width: 200px;
          object-fit: cover;
          height: 200px;
          border-radius: 7px;
          border: 2px solid #fff;
        }
      }
      .mainImage {
        img {
          width: 34rem;
          height: 41rem;
          object-fit: cover;
          border-radius: 7px;
          border: 2px solid #fff;
        }
      }
    }
    .right {
      .productDescription {
        display: flex;
        justify-content: space-between;
        width: 50%;
        .rightSideProductDetails {
          .colors {
            display: flex;
            gap: 1rem;
            span {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}